
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/StaffLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

<h2>This is staff dashboard</h2>
<div class="container table-responsive">
    <table id="dtBasicExample" class="hover table-striped" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">User Id</th>
                <th scope="col">Email</th>
                <th scope="col">Customer booking id</th>
                <th scope="col">From Date</th>
                <th scope="col">To Date</th>
                <th scope="col">Vehicle </th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in ViewBag.itemData)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@data.Id</td>
                    <td>@data.Email</td>
                    <td>@data.customer_booking_id</td>
                    <td>@data.from_date</td>
                    <td>@data.to_date</td>
                    <td>@data.vehicle_id</td>
                    <td><a href="/staff/ShowDetails?query=@data.Id&query2=@data.customer_booking_id">View Details</a></td>
                </tr>
            }
        </tbody>
    </table>
    <button type="button" onclick="location.href='/staff/deletelocations'" class="btn">Delete all Locations</button>
    <button type="button" class="btn">Delete all bookings</button>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $("#dtBasicExample").DataTable();
        });
    </script>

}


