
@{
    ViewBag.Title = "ViewFleet";
    Layout = "~/Views/Shared/StaffLayout.cshtml";
}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<h2>ViewFleet</h2>

    <table class="table stripe" id="vehicleTable">
        <thead>
            <tr>
                
                <th scope="col">Name</th>
                <th scope="col">Model/Year</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var data in ViewBag.ItemData)
            {
                <tr>
                                    
                    <td>@data.Name</td>
                    <td>@data.Model</td>
                    <td>@data.vehicle_description</td>
                    
                </tr>
            }
        </tbody>

@section scripts{
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

        <script>
            $(document).ready(function () {
                $("#vehicleTable").DataTable();
            });
        </script>
    }




