@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/CustomerStyleSheet.css")
<!--<script src='https://api.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.js'></script>-->
<!--<link href='https://api.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.css' rel='stylesheet' />-->


<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css' rel='stylesheet' />



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>




<style>
    body {
        margin: 0;
        padding: 0;
    }

    #map {
        display: none;
        position: relative;
        width: 100%;
    }

    .distance-container {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
    }
    .modal-backdrop {
        z-index: -1;

    }

        .distance-container > * {
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            font-size: 11px;
            line-height: 18px;
            display: block;
            margin: 0;
            padding: 5px 10px;
            border-radius: 3px;
        }

    .loader {
        display: none;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }


    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div class="container">

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle"></h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body" id="modalBody">

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="close">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle2"></h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body" id="modalBody2">

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="close2">Close</button>
                </div>
            </div>
        </div>
    </div>



    <br />
    <br />
    <br />
    <div class="jumbotron">
        <h1>AutoMilestone</h1>
        <p class="lead">Select from our wide range of cars</p>
    </div>
    <div>
        Available cars
        <div class="list-group">
            @foreach (var data in ViewBag.ItemData)
            {
                <a href="javascript:void(0)" id="car_selection" value="@data.Id" class="list-group-item car_selection">@data.Name, @data.vehicle_description</a>
            }
        </div>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="from">From</label>
                <input type="text" value="" id="date_from" name="from" autocomplete="off" />
            </div>
            <div class="col-md-4 mb-3">
                <label for="to">to</label>
                <input type="text" id="date_to" value="" name="to" autocomplete="off" />
                <input type="hidden" id="distance_thing" value="" />
            </div>
            <div class="loader"></div>
            <br />
            <div>
                FROM LOCATION:
                <div id='map' class="map" style='width: 700px; height: 500px;'></div>
                <div id='distance'></div>
                <div id='info'></div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <button type="button" id="show_data" data-loading-text="Loading..." class="btn btn-primary">
                show data
            </button>
            <!--<p><a href="#" class="btn btn-primary btn-lg" id="modalbutton">Done</a></p>-->
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>

    <script>
        $(document).ready(function () {
            $("#modalbutton").click(function () {
                $("#myModal").toggle('show');
                return false;
            });
            $("#close").click(function () {
                $("#myModal").toggle('hide');
                return false;
            })
            $("#map").css({ "display": "none" });
            var car_id = 0;
            var date_from = "";
            var date_to = "";
            var locations = [];
            var price = 0;
            var distance = 0;
            var point = {
                "type": "Feature",
                "geometry": {
                    "type": "Point",
                    "coordinates": []
                },
                "properties": {
                    "id": null
                }
            };
            var response = [];
            $(".loader").css({ 'display': 'hide' });

            mapboxgl.accessToken = 'pk.eyJ1Ijoicmlkd2FucmFobWFuIiwiYSI6ImNrMTJjYXd5MjAwbzgzZGxscGM3c3l5dnYifQ.Dus70kgKra8qK4EbZFUR3Q';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [144.95, -37.82], // starting position
                zoom: 11.5 // starting zoom
            });
            // Add zoom and rotation controls to the map.
            map.addControl(new mapboxgl.NavigationControl());

            var distanceContainer = document.getElementById('distance');
            // GeoJSON object to hold our measurement features
            var geojson = {
                "type": "FeatureCollection",
                "features": []
            };

            // Used to draw a line between points
            var linestring = {
                "type": "Feature",
                "geometry": {
                    "type": "LineString",
                    "coordinates": []
                }
            };

            map.on('load', function () {
                map.addSource('geojson', {
                    "type": "geojson",
                    "data": geojson
                });
                // Add styles to the map
                map.addLayer({
                    id: 'measure-points',
                    type: 'circle',
                    source: 'geojson',
                    paint: {
                        'circle-radius': 5,
                        'circle-color': '#000'
                    },
                    filter: ['in', '$type', 'Point']
                });

                map.addLayer({
                    id: 'measure-lines',
                    type: 'line',
                    source: 'geojson',
                    layout: {
                        'line-cap': 'round',
                        'line-join': 'round'
                    },
                    paint: {
                        'line-color': '#000',
                        'line-width': 2.5
                    },
                    filter: ['in', '$type', 'LineString']
                });

                map.on('click', function (e) {
                    var features = map.queryRenderedFeatures(e.point, { layers: ['measure-points'] });
                    console.log("herere");
                    // Remove the linestring from the group
                    // So we can redraw it based on the points collection
                    if (geojson.features.length > 1) geojson.features.pop();
                    // If a feature was clicked, remove it from the map
                    if (features.length) {
                        var id = features[0].properties.id;
                        geojson.features = geojson.features.filter(function (point) {
                            return point.properties.id !== id;
                        });
                    } else {
                        point = {
                            "type": "Feature",
                            "geometry": {
                                "type": "Point",
                                "coordinates": [
                                    e.lngLat.lng,
                                    e.lngLat.lat
                                ]
                            },
                            "properties": {
                                "id": String(new Date().getTime())
                            }
                        };
                        locations.push(point['geometry']['coordinates']);
                        console.log(locations);
                        geojson.features.push(point);
                    }
                    if (geojson.features.length > 1) {

                        linestring.geometry.coordinates = geojson.features.map(function (point) {
                            return point.geometry.coordinates;
                        });
                        geojson.features.push(linestring);
                        // Populate the distanceContainer with total distance
                        var value = document.createElement('pre');
                        value.textContent = 'Total distance: ' + turf.lineDistance(linestring).toLocaleString() + 'km';
                        $("#distance").html(value.textContent);
                        $("#distance_thing").val(turf.lineDistance(linestring).toLocaleString());
                    }
                    map.getSource('geojson').setData(geojson);
                });
            });

            map.on('mousemove', function (e) {
                var features = map.queryRenderedFeatures(e.point, { layers: ['measure-points'] });
                // UI indicator for clicking/hovering a point on the map
                map.getCanvas().style.cursor = (features.length) ? 'pointer' : 'crosshair';
            });
            map.on('mousemove', function (e) {
                document.getElementById('info').innerHTML =
                    // e.point is the x, y coordinates of the mousemove event relative
                    // to the top-left corner of the map
                    JSON.stringify(e.point) + '<br />' +
                    // e.lngLat is the longitude, latitude geographical position of the event
                    JSON.stringify(e.lngLat.wrap());
            });

            $.fn.myFunction = function () {
                console.log("booking constraint checker called");
                var target = this;
                var spinner = $(".loader");
                if (date_from.length > 0 && date_to.length > 0 && car_id > 0) {
                    var dates = car_id + "," + date_from + "," + date_to;
                    spinner.css({ "display": "block" });
                    console.log("have both dates");
                    $.ajax({
                        type: "POST",
                        dataType: 'text',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ inputDates: JSON.stringify(dates) }),
                        url: "/Customer/CheckBookingDate",
                        success: function (result) {
                            if (result == "\"already booked\"") {
                                spinner.css({ "display": "none" });
                                $("#date_from").val('');
                                $("#date_to").val('');
                                date_from = "";
                                date_to = "";
                                $("#modalTitle").html("Sorry!");
                                $("#modalBody").html("This car is already booked in the given date.");
                                $("#myModal").toggle('show');
                                //alert("this car is already booked in the given date");
                            } else {
                                spinner.css({ "display": "none" });
                                $("#modalTitle").html("Great!");
                                $("#modalBody").html("This car can be booked on the given date. Please go ahead and select where you will drive to");
                                $("#myModal").toggle('show');
                                $("#map").css({
                                    "display": "block",
                                    "position": "relative",
                                    "width": "100%"
                                });
                                map.resize();
                            }
                        }
                    })
                } else {
                    console.log("incomplete");
                }
            }
            $(".car_selection").click(function () {
                car_id = $(this).attr("value");
                alert("You have selected car with id " + car_id);
            });
            $("#date_from").datepicker({ format: 'dd/mm/yyyy', startDate: '0d' });
            $("#date_from").change(function () {
                date_from = $(this).val();
                $.fn.myFunction();
            });
            $('#date_to').datepicker({ format: 'dd/mm/yyyy', startDate: '0d' });
            $("#date_to").change(function () {
                date_to = $(this).val();
                $.fn.myFunction();
            });
            $("#close2").click(function () {
                alert("pressed");
                location.reload();
            })

            $("#show_data").click(function () {
                var $btn = $(this).button('loading')
                response.push(date_from);
                response.push(date_to);
                response.push(car_id);
                distance = $("#distance_thing").val();
                response.push(distance);
                response.push(locations);
                $.ajax({
                    type: "POST",
                    dataType: 'text',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ sendInfo: JSON.stringify(response) }),
                    url: "/Customer/CreateBooking",
                    success: function (result) {
                        var str = jQuery.parseJSON(result);
                        var abc = jQuery.parseJSON(str);
                        if (abc.response == "success") {
                            console.log("received");
                            $btn.button('reset');
                            $("#modalTitle2").html(abc.response);
                            $("#modalBody2").html(abc.message + "Your price is " + abc.price + "Total distance is: " + abc.distance + "");
                            $("#myModal2").toggle('show');
                        }
                        else {
                            alert("We are facing errors. Please standby");
                        }
                    }
                })
            })
        })
    </script>
</div>