@model AutoMilestoneV2.Models.BulkEmailViewModel

@{
    ViewBag.Title = "SendBulkEmail";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap2.css" />

<h2>SendBulkEmail</h2>

@using (Html.BeginForm("SendBulkEmail", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>BulkEmailViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.messageTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="messageTo" name="messageTo"/>
                @Html.ValidationMessageFor(model => model.messageTo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.messageSubject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.messageSubject, new { htmlAttributes = new { @class = "form-control", id = "messageSubject" } })
                @Html.ValidationMessageFor(model => model.messageSubject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.messageBody, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.messageBody, new { htmlAttributes = new { @class = "form-control", id = "messageBody" } })
                @Html.ValidationMessageFor(model => model.messageBody, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.attachment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="attachment" name="attachment" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to Dashboard", "Index")
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {
            var emails = "";
            $("#messageTo").val("");
            $("#messageSubject").val("");
            $("#messageBody").val("");
            var val = '@(ViewBag.Result)';
            if (val === 'success') {
                $('#myModal').modal('toggle');
            } else {
            }
            var $select = $('#messageTo').selectize({
                delimiter: ',',
                persist: false,
                create: function (input) {
                    return {
                        value: input,
                        text: input
                    }                    
                }
            });
            console.log($select);
            var selectize = $select[0].selectize;
            selectize.on('change', function () {
                var test = selectize.getValue();
                $("#messageTo").val(test);
            });
        })
    </script>
}